[report]
omit =
    */python?.?/*
    */__pycache__/*
    *.pyc
    */venv/*
    */home/travis/virtualenv/*
    */models.py
    */__init__.py
    */config.py
    */helper.py
    */test_app_endpoints.py
    */test_data.py